
body {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 18px;
    color: #222;
}
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.spc {
    padding-bottom: 50px;
}
img {
    width: 100%;
}
.item {
    padding-bottom: 50px;
}

/* typo */
h1, h2, h3 {
    color: #2a2c67;
}
h2 {
    font-size: 26px;
    padding-bottom: 10px;
}
h3 {
    font-size: 22px;
    padding-bottom: 20px;
}
a, a:visited, a:active {
    color: #222;
    text-decoration: underline;
}
a:hover {
    color: #222;
    text-decoration: none;
}
label {
    color: #222;
}
p {
    max-width: 650px;
}
/* -- typo */

/* elements */ 
a.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;
}
a.btn-outline-secondary:hover {
    color: #2a2c67;
    background-color: #ffedc1;
    border-color: #2a2c67;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    margin: 5px;
}
.box {
    border: thick double #f0b8b7; 
    max-width: 650px;
    padding: 30px;
}
.box p {
    margin-bottom: 0;
}
/* -- elements */ 

/* header */
header {
    background: rgb(42,44,103);
    background: linear-gradient(337deg, rgba(42,44,103,1) 33%, rgba(57,28,136,1) 68%, rgba(240,184,183,1) 98%);
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo img {
    width: 100%;
    max-width: 250px;
}
@media (max-width: 576px) {
    .logo img {
        margin-bottom: 30px;
    }
}
nav li {
    list-style: none;
}
a.nav-link {
    text-transform: uppercase;    
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
nav a:hover, .nav-link.active {
    color: #f0b8b7;
    text-decoration: underline;
}



@media (min-width: 992px) {
    nav {
        height: 200px;
    }
    nav ul {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }
    nav li {
        float: left;
    }
    h1 {
        text-align: left;
    }
    nav a {
        display: block;
        width: 100%;
        clear:both; 
    }    
}
/* -- header */

/* content frontpage*/ 
.intro {
    background: rgb(42,44,103);
    background: linear-gradient(163deg, rgba(42,44,103,1) 52%, rgba(240,184,183,1) 100%);
    color: #ffffff;
    font-size: 2em;
}
@media (min-width: 992px) {
    .intro {
        padding: 80px 0;
        font-size: 3em;
    }
}
.intro .cont {
    max-width: 650px;
    margin: 0 auto;
}
.intro .btn {
    margin-right: 20px;
}
.intro img {
    max-width: 300px;
    padding: 50px 0;
    clear: both;
    display: block;
}
/* -- content frontpage*/ 

/* application */ 
input, textarea {
    border-bottom: 1px solid #2a2c67;
    border-top: none;
    border-left: none;
    border-right: none;
}
textarea {
    border: 1px solid #2a2c67;
}
@media (max-width: 991px) {
    textarea {
        max-width: 350px;
    }
}
.label-fileupload {
    margin-bottom: 30px;
}
.label-fileupload p {
    margin-bottom: 0;
}

input:focus, textarea:focus {
    outline: none;
    background-color: rgba(240, 184, 183,0.2);
}
input[type="file"] {
    cursor: pointer;
    border: 1px solid #2a2c67;
    padding: 3px;
}
.frm-sc {
    padding-top:50px;
}
.fileupload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
button {
  border: 1px solid #2a2c67;
  color: #2a2c67;
  padding: 8px 20px;
  border-radius: 4px;
}
.fileupload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
button {
    background: rgba(255, 237, 193, 1);
}
button:hover {
    background: rgba(255, 237, 193, 0.4);
}
@media (min-width: 992px) {  
    .frm-sc textarea, .submit {
        float: right;
    }
}
/* -- application */ 


/* open call */
.opencall p {
    max-width: 440px;
}
/* -- open call */


/* about */
.about img {
    max-width: 350px;
}
@media (max-width: 576px) {  
    .about img {
        max-width: 350px;
    }
}
/* -- about */

/* footer */ 
footer {
    border-top: thick double #2a2c67;
    background-color: #fff;
}
footer img {
    margin: 10px;
    float:right;
    width: 40px;
}
.some h3 {
    text-align: right;
}
/* -- footer */ 
